*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #add8e6;
    /* Azul claro */
}

/* Estilo para definir a altura das imagens no carrossel */
.carousel-item img {
    height: 700px;
    /* Altura desejada */
    object-fit: cover;
    /* Para garantir que as imagens mantenham a proporção e preencham o espaço */
    margin-left: auto;
    /* Margem à esquerda automática */
    margin-right: auto;
    /* Margem à direita automática */
}